@tailwind base;
@tailwind components;
@tailwind utilities;

#navbar {
    height: 96px;
}

#settings-icon {
    display: inline-block;
    max-width: auto;
    max-height: 42px;
}

#settings-clickable {
    transform: rotate(-90deg) translateY(-4px);
}

#settings-dropdown {
    /* display: none; */
    position: absolute;
    top: 96px;
    width: 150px;
    padding: 1rem 2rem;
    box-shadow: 2px 2px 3px gray;
    transform: translateX(-60px);
}

#end-turn-btn {
    display: inline-block;
    vertical-align: middle;
    margin-top: 26px;
}
