@tailwind base;
@tailwind components;
@tailwind utilities;

#navbar {
    height: 96px;
}

#settings-icon {
    display: inline-block;
    max-width: auto;
    max-height: 42px;
}

#settings-clickable {
    transform: rotate(-90deg) translateY(-4px);
}

#settings-dropdown {
    /* display: none; */
    position: absolute;
    top: 96px;
    width: 150px;
    padding: 1rem 2rem;
    box-shadow: 2px 2px 3px gray;
    transform: translateX(-60px);
    background-color: #e5dec2;
}

#end-turn-btn {
    display: inline-block;
    vertical-align: middle;
    margin-top: 26px;
}

.unit-number-icon {
    width: 16px;
    height: 16px;
}

#popup-box {
    position: fixed;
    /* Lightgray color with opacity */
    background-color: rgba(211, 211, 211, 0.8);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

#popup {
    position: relative;
    width: 50%;
    margin: 0 auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    border-radius: 1px;
    padding: 3em;
    overflow: auto;
}
